@import "../../node_modules/bootstrap/scss/functions";
@import "./helpers/variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import './dashboard';
// @import './style.scss';
* {
    font-family: 'MrsEavesRoman';
}

@font-face {
    font-family: "MrsEavesRoman";
    src: url('/src/assets/MrsEavesRoman.otf');
}

@font-face {
    font-family: "MrsEavesRomanRegular";
    src: url('/src/assets/MrsEavesRomanRegular.otf');
}