@font-face {
    font-family: "MrsEavesRoman";
    src: url('../assets/MrsEavesRoman.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MrsEavesRomanRegular";
    src: url('../assets/MrsEavesRomanRegular.otf');
    font-weight: normal;
    font-style: normal;
}